
@{
    ViewBag.Title = "GuiChuyenGia";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
@section Header
{
    <style>
        #id_guiketqua_chuyengia {
            height: 38px;
        }

        #id_guiketqua_chuyengia p {
            color: white;
            padding-top: 8px;
        }
    </style>
    <style>
        .card {
            border:0px;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            padding: 20px;
            width: 450px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 6px;
            -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
        }

        .comment-box {
            padding: 5px;
        }



        .comment-area textarea {
            resize: none;
            border: 1px solid #ad9f9f;
        }


        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #ffffff;
            outline: 0;
            box-shadow: 0 0 0 1px rgb(255, 0, 0) !important;
        }

        .send {
            color: #fff;
            background-color: #742297;
            border-color: #742297;
        }

        .send:hover {
            color: #fff;
            background-color: #5c0d7e;
            border-color: #5c0d7e;
        }


        .rating {
            display: flex;
            margin-top: -10px;
            flex-direction: row-reverse;
            margin-left: -4px;
            float: left;
        }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 19px;
            font-size: 25px;
            color: #742297;
            cursor: pointer;
        }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }
    </style>
    <style>
        .container_comment {
            background-color: #eef2f5;
        }

        .addtxt {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 13px;
            width: 350px;
            background-color: #e5e8ed;
            font-weight: 500;
        }

        .form-control:focus {
            color: #000;
        }

        .second {
            width: 90%;
            background-color: white;
            border-radius: 4px;
            box-shadow: 10px 10px 5px #aaaaaa;
        }

        .text1 {
            font-size: 14px;
            font-weight: 500;
            color: black;
        }

        .text2 {
            font-size: 13px;
            font-weight: 500;
            margin-left: 6px;
            color: #56575b;
        }

        .text3 {
            font-size: 13px;
            font-weight: 500;
            margin-right: 4px;
            color: #828386;
        }

        .text3o {
            color: #00a5f4;
        }

        .text4 {
            font-size: 13px;
            font-weight: 500;
            color: #828386;
        }

        .text4i {
            color: #00a5f4;
        }

        .text4o {
            color: white;
        }

        .thumbup {
            font-size: 13px;
            font-weight: 500;
            margin-right: 5px;
        }

        .thumbupo {
            color: #17a2b8;
        }

        .checked {
            color: darkviolet;
        }

        .phanhoi {
            float: right;
            font-size: 11px;
        }
    </style>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#id_chuyengia_client").addClass("active");
        })
    </script>
}
<div style=" min-height: 400px; width:100%" class="shadow-lg p-3 mb-5 bg-white rounded">
    <h4 style="color:darkviolet">Gửi kết quả cho chuyên gia</h4>
    <div class="row">
        <div class="col-sm-6">
            <img width="100%" src="~/Assets/ImageChuyenGia/@ViewBag.Image" />
        </div>
        <div class="col-sm-6">
            <h5>Thông tin chi tiết:</h5>
            <b>Tên chuyên gia: @ViewBag.TenChuyenGia</b>
            <p>Trình độ: @ViewBag.TrinhDo</p>
            <p>Mô tả: @ViewBag.MoTa</p>
        </div>
    </div>
    <br />
    <p>
        Lựa chọn kết quả để gửi chuyên gia
    </p>
    <div class="row">

        <div class="col-sm-6">
            @Html.DropDownList("danhsachketqua", (IEnumerable<SelectListItem>)ViewBag.KetQua, null, htmlAttributes: new { @class = "form-control", id = "id_cbb_congviec" })
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <input type="file" name="imgFile" id="imgFile" class="form-control" accept="image/png, image/jpeg, image/gif, image/jpg" /><br />
        </div>
        <div class="col-sm-6">
            <a href="#" class="gradient-button" id="id_guiketqua_chuyengia"><p>Gửi kết quả</p></a>
        </div>
    </div>

</div>
<script>

    $(document).ready(function () {

        $('#id_guiketqua_chuyengia').click(function (e) {
            var id_chuyengia =@ViewBag.IDChuyenGia;
            var id_ketquaAI = $('#id_cbb_congviec option:selected').val();
            var formData = new FormData();
            formData.append("file", $("#imgFile")[0].files[0]);
            formData.append("id_chuyengia", id_chuyengia);
            formData.append("id_ketquaAI", id_ketquaAI);
            $.ajax({
                url: "/Client/ChuyenGia/GuiKetQua",
                type: "POST",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (json) {
                    if (json.status) {
                        alert("Thao tác thành công!");
                    }
                    else {
                        alert("Thao tác không thành công!");
                    }
                    window.location.href = json.redirectUrl;
                },
                error: function (error) {
                    alert('Có lỗi xảy ra trong quá trình xử lý, vui lòng thử lại!');
                }
            });
        })
    })
</script>
<div style=" min-height: 400px; width:100%" class="shadow-lg p-3 mb-5 bg-white rounded">

    <div class="row">
        <div class="col-sm-6 card">
            <div class="comment-box ml-2">
                <h5>Đánh giá chuyên gia</h5>
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                </div>
                <div class="comment-area">
                    <textarea class="form-control" id="id_noidungcmt" placeholder="Bình luận của bạn?" rows="4"></textarea>
                </div>
                <div class="comment-btns mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="pull-left">
                                <button class="btn btn-danger btn-sm" id="id_huybo_comment">Hủy bỏ</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="pull-right">
                                <button class="btn btn-success send btn-sm" id="id_send_comment">Gửi <i class="fa fa-long-arrow-right ml-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h5 style="padding-top:30px">Danh sách bình luận của khách hàng</h5>
            <div class="container_comment">

            </div>
        </div>
    </div>
</div>


<script>
    function LoadComment() {
        var list =@Html.Raw(Json.Encode(ViewBag.listdanhgiachuyengia));
        for (i = 0; i < list.length; i++) {
            var TenKhachHang = list[i].TenKhachHang;
            var NoiDungBinhLuan = list[i].NoiDungBinhLuan;
            var Rate = list[i].Rate;
            $('.container_comment').append(`
                <div class="d-flex justify-content-center py-2">
                    <div class="second py-2 px-2">
                        <h5 class="text1">`+ NoiDungBinhLuan +`</h5>
                        <div class="d-flex justify-content-between py-1 pt-2">
                            <div><img src="../../Assets/Client/images/user_comment.png" width="18"><span class="text2">`+ TenKhachHang+`</span></div>
                            <div id="id_checked_comment_`+ i +`">
                                <span id="id_1_`+ i +`" class="fa fa-star"></span>
                                <span id="id_2_`+ i +`" class="fa fa-star "></span>
                                <span id="id_3_`+ i +`" class="fa fa-star "></span>
                                <span id="id_4_`+ i +`" class="fa fa-star"></span>
                                <span id="id_5_`+ i +`" class="fa fa-star"></span>
                            </div>

                        </div>
                        <div class="phanhoi">
                            <a href="#">Phản hồi</a>
                        </div>
                    </div>
                </div>
            `);
            for (r = 0; r < Rate; r++) {
                $('#id_'+(r+1)+'_'+i+'').addClass('checked');
            }
        }

    }
    $(document).ready(function () {
        //load comment
        LoadComment();

        $('#id_send_comment').click(function () {
            var rate = jQuery('.rating input[name="rating"]:checked').val();
            var idChuyenGia =@ViewBag.IDChuyenGia;
            var noidungcmt = $("#id_noidungcmt").val();
            $.ajax({
                type: "POST",
                url: "/Client/ChuyenGia/DanhGia",
                data: { idchuyengia: idChuyenGia, rate: rate, noidungcmt: noidungcmt },
                success: function (json) {
                    alert(json.mess);
                    location.reload();
                }
            })
        });
        $('#id_huybo_comment').click(function () {
            $("#id_noidungcmt").val("");
        });

    })
</script>