
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (@ViewBag.Status == 1)
{
    <script>alert("Thao tác thành công !");</script>
}
else if (@ViewBag.Status == -3)
{
    <script>alert("Chưa chọn file upload !");</script>
}
else if (@ViewBag.Status == -2)
{
    <script>alert("Định dạng file không hợp lệ !");</script>
}
else if (@ViewBag.Status == -1)
{
    <script>alert("Thao tác thất bại !");</script>
}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account-key"></i>
        </span> Quản lý chuyên gia
    </h3>
</div>
<div class="row">
    <div class="col-sm-9"></div>

    <div class="col-sm-3">
        <button type="button" class="btn btn-gradient-success btn-icon-text" data-toggle="modal" data-target="#id_them" style="float:right;">
            <i class="mdi mdi-upload btn-icon-prepend"></i>Thêm mới
        </button>
    </div>

</div>
<br />

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div id="grid"></div>
        </section>
    </div>
</div>

@section Header
{
    <style>
        .cl_sua_xoa {
            width: 80px;
            height: 40px;
        }
        .image_chuyengia
        {
            width:100%;
        }
    </style>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            var trinhdo = [
                {
                    "ID": "Thạc sĩ",
                    "Name": "Thạc sĩ"
                },
                {
                    "ID": "Tiến sĩ",
                    "Name": "Tiến sĩ"
                }
            ];
            $('#grid').dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "ID",
                    loadUrl: "/api/ApiChuyenGia/Get",
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = {
                            withCredentials: true
                        };
                    }
                }),
                remoteOperations: true,

                showBorders: true,
                selection: {
                    mode: 'single',
                },
                onSelectionChanged(e) {
                    e.component.collapseAll(-1);
                    e.component.expandRow(e.currentSelectedRowKeys[0]);
                },
                onContentReady(e) {
                    if (!e.component.getSelectedRowKeys().length) { e.component.selectRowsByIndexes(0); }
                },
                columns: [

                    {
                        dataField: 'TenChuyenGia',
                        caption: 'Tên chuyên gia',
                    },
                    {
                        dataField: "NgaySinh",
                        caption: "Ngày sinh",
                        dataType: "date",
                    },
                    {
                        dataField: 'email',
                        caption: 'Email',
                    },
                    {
                        dataField: 'SDT',
                        caption: 'Số điện thoại',
                    },
                    {
                        dataField: 'MoTa',
                        caption: 'Mô tả',
                        width: 200
                    },
                    {
                        dataField: "TrinhDo",
                        caption: "Trình độ",
                        width: 80,
                        lookup: {
                            dataSource: trinhdo,
                            displayExpr: "Name",
                            valueExpr: "ID"
                        }

                    },
                    {
                        caption: "Hành động",
                        alignment: 'center',
                        width: 200,
                        cellTemplate: function (container, options) {
                            $('<button data-toggle="modal" data-target="#id_sua" type="button"><i class="mdi mdi-file-check btn-icon-append" style="margin-left: -8px;"></i></button>').addClass('cl_sua_xoa btn btn-gradient-primary btn-icon-text')
                                .on('dxclick', function () {
                                    EditCG(options.data);
                                })
                                .appendTo(container);
                            $('<button type="button"><i class="mdi mdi-delete btn-icon-append" style="margin-left: -10px;"></i></button>').addClass('cl_sua_xoa btn btn-gradient-danger btn-icon-text')
                                .on('dxclick', function () {
                                    DeleteCG(options.data);
                                })
                                .appendTo(container);
                        }
                    }

                ],
                masterDetail: {
                    enabled: false,
                    template(container, options) {
                        const chuyengia = options.data;
                        container.append($(`<div class="row">
                                                <div class="col-sm-4">
                                                    <img class="image_chuyengia" src="../../Assets/ImageChuyenGia/` + chuyengia.Image + `" />
                                                </div>
                                                <div class="col-sm-8">
                                                    <b>`+ chuyengia.MoTa + `</b>
                                                </div>
                                              </div>`));

                    },
                },
            });

        });

    </script>
    <script>
        function EditCG(data) {
            $("#id_sua_MaChuyenGia").val(data.ID);
            $("#id_sua_TenChuyenGia").val(data.TenChuyenGia);
            $("#id_sua_NgaySinh").val(data.NgaySinh);
            $("#id_sua_Email").val(data.email);
            $("#id_sua_SDT").val(data.SDT);
            $("#id_sua_TrinhDo").val(data.TrinhDo);
            $("#id_sua_MoTa").val(data.MoTa);

        }
        function DeleteCG(data) {
            var id = data.ID;
            var result = confirm("Bạn có muốn xóa bản ghi này ?");
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ChuyenGia/Delete",
                    data: { id: id },
                    dataType: "json",
                    success: function (data) {
                        alert(data.mess);
                        location.reload();
                    }
                })
            }

        }
    </script>
}
@using (Html.BeginForm("Create", "ChuyenGia", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="id_them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới chuyên gia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Tên chuyên gia</label>
                        <input type="text" class="form-control" name="TenChuyenGia" placeholder="Tên chuyên gia">
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input type="datetime-local" class="form-control" name="NgaySinh">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" name="SDT" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label>Trình độ</label>
                        <select class="form-control form-control-sm" name="TrinhDo">
                            <option>Thạc sĩ</option>
                            <option>Tiến sĩ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" name="MoTa" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Ảnh chuyên gia</label>
                        <input type="file" name="file" class="form-control-file">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gradient-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-gradient-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Edit", "ChuyenGia", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="id_sua" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa chuyên gia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" name="ID" id="id_sua_MaChuyenGia" class="form-control" style="display:none" />
                    <div class="form-group">
                        <label>Tên chuyên gia</label>
                        <input type="text" class="form-control" id="id_sua_TenChuyenGia" name="TenChuyenGia" placeholder="Tên chuyên gia">
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input type="datetime-local" id="id_sua_NgaySinh" class="form-control" name="NgaySinh">

                        @*<input class="form-control" name="NgaySinh" placeholder="dd/mm/yyyy">*@
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" id="id_sua_Email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" id="id_sua_SDT" name="SDT" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label>Trình độ</label>
                        <select class="form-control form-control-sm" id="id_sua_TrinhDo" name="TrinhDo">
                            <option>Thạc sĩ</option>
                            <option>Tiến sĩ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" name="MoTa" id="id_sua_MoTa" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Ảnh chuyên gia</label>
                        <input type="file" name="file" class="form-control-file">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gradient-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-gradient-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>
}
